<div class="form-horizontal">
  <%= form_for(@message) do |f| %>
   <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
   <% end %>
  
    <div class="form-group">
      <label for="input_name", class="control-label col-sm-1">名前</label>
      <div class="col-sm-3">
        <%= f.text_field :name, class: "form-control", id: "input_name" %>
      </div>
    </div>
    <div class="form-group">
      <label for="input_age", class="control-label col-sm-1">年齢</label>
      <div class="col-sm-1">
        <%= f.text_field :age, class: "form-control", id: "input_age" %>
      </div>
    </div>
    <div class="form-group">
      <label for="input_text", class="control-label col-sm-1">内容</label>
      <div class="col-sm-11">
        <%= f.text_area :body, class: "form-control", id: "input_text" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-11">
        <%= f.submit  "メッセージ投稿", class: "btn btn-md btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
</div>